{% extends 'base.html' %}

{% block head %}
<title>TODO</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1>Tasks TODO</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center;">There are no tasks to do. Add one using the text box below.</h4>
    {% else %}
    <h3>No. of Tasks to do:</h3>
    <h2>{{ tasks|length }}</h2>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}